body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #181A26;
    overflow-x: hidden;
}

@font-face {
    font-family: Montserrat;
    src: url('../../static/Montserrat-Regular.ttf') format('truetype')
}
@font-face {
    font-family: MonumentExtended;
    src: url('../../static/MonumentExtended-Regular.otf') format('opentype')
}


h1,h2,h3,h4 {
    font-family: "MonumentExtended" , Arial, sans-serif;
    font-weight: 400;
    margin: 0;
}

p,span {
    font-family: "Montserrat" , Arial, sans-serif;
    font-weight: 400;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.lock-scroll {
    overflow-y: hidden;
}

*::selection {
    background-color: #AFBCE9;
}