body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1D1D1B;
    overflow-x: hidden;
}

@font-face {
    font-family: Montserrat;
    src: url('../../public/Montserrat-Regular.ttf') format('truetype')
}
@font-face {
    font-family: MonumentExtended;
    src: url('../../public/MonumentExtended-Regular.otf') format('opentype')
}


h1,h2,h3, h4 {
    font-family: "MonumentExtended" , Arial, sans-serif;
    font-weight: 400;
    margin: 0;
}

p,span {
    font-family: "Montserrat" , Arial, sans-serif;
    font-weight: 400;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}